*{
    margin:0;
    padding:0;
}
#container {
    background-color: white;
    width: 970px;
    min-height: 800px;
    margin: 0 auto;
    padding: 10px;
}
#createAcct_field{
    background-color: white;
    margin-left: 30%;
    border:grey;
    width: 300px;
    height: 400px;
}
#logo{
    margin-left: 100px;
}