<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <title>User Managemenet</title>
    <style>
        .color{
            color: red;
        }
    </style>
</head>
<body>
    <script>
        $(document).ready(function(){
            $("#plus_icon").click(function(){
                $("#container").toggle(1000);
            });
            $("#admin_main_page").click(function(){
                window.location.href="/admin_first_page";
            })
        })
    </script>
    <div>
        <div class="col">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }} color"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <a href="#"><img id="plus_icon" src="../static/image/icon/plus_icon.png" width="20px"></a>
        <div id="container">
            <form action="/user_register" method="POST">
                {% csrf_token%}
                <fieldset id="createAcct_field">
                    <p><h2>Create User Account</h2></p>
                    <p>First name:</p>
                    <p><input type="text" class=".input-medium" name="first_name" id="first_name" placeholder="please input first name"></p>
                    <p>Last name:</p>
                    <p><input type="text" class=".input-medium" name="last_name" id="last_name" placeholder="please input last name"></p>
                    <p>Email:
                    <p><input type="email" class=".input-medium" name="email" id="email" placeholder="please input email address"></p>
                    <p>Phone:
                    <p><input type="text" class=".input-medium" name="phone" id="phone" placeholder="please input phone no"></p>
                    <p>password:</p>
                    <p><input type="password" class=".input-large" name="password1" id="password1" placeholder="At least 6 characters" ></p>
                    <p>Re-enter password:</p>
                    <p><input type="password" class=".input-medium" name="password2" id="password2" placeholder=""></p>
                    <button id="registerBtn" type="submit" class="btn btn-success" value="Regiser">Regiser</button>
                    <button id="cancelBtn" type="button" class="btn btn-warning" value="Cancel">Cancel</button>
                    <button type="button" id="admin_main_page" class="btn btn-info">Go to admin main page</button>
                    <p></p>
                </fieldset>
            </form>
        </div>
        <table border="1">
            <tr>
                <th></th>
                <th>User ID</th>
                <th>User First Name</th>
                <th>User Last Name</th>
                <th>User Email</th>
                <th>User Phone</th>
                <th>User Password</th>
                <th>Action</th>
            </tr>
            {%for user in user_info%}
            <tr>
                    <td><input type="checkbox" name="ids"></td>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.password}}</td>
                    <td>
                        <a href="#">Edit</a>
                        <a href="/delete_User/{{user.id}}">Delete</a>
                    </td>
                </tr>
            {%endfor%}
        </table>
        <form>
            {% csrf_token%}
            <br>
            <input type="submit" class="btn btn-danger" value="Multi Deletion">
        </form>
    </div>
</body>
</html>